/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

.connectionConnected {
    color: green;
}

.connectionDisconnected {
    color: red;
}

.eti-btn-emulator {
	padding: 20px 35px;
	font-size: 50px;
  border-color: black;
  border-width: 1px;
}